{% extends "default.html.twig" %}

{% block title %}Cookie Policy - {% endblock %}
{% block mainheader %} - Cookie Policy{% endblock %}
{% block content %}
    <div class="mt-8 grid grid-cols-1 gap-x-4 xl:gap-x-8 mb-8 text-slate-700">
        <p>This site has no cookie policy, as it doesn't store any of your personal data, because it uses <a href="https://usefathom.com/privacy-focused-web-analytics" target="_blank">Fathom Analytics</a>, which is a privacy-focused analytics service, and nothing else!</p>
        <p>In short, <strong>it respects your privacy</strong>.</p>
    </div>
{% endblock %}
