{% extends "default.html.twig" %}

{% block title %}Datenschuterklärung - {% endblock %}
{% block mainheader %} - Datenschuterklärung{% endblock %}
{% block content %}
    <div class="mt-8 grid grid-cols-1 gap-x-4 xl:gap-x-8 mb-8 text-slate-700">
        <div class="">
            <div>
                <h3>Datenschutzerklärung für die Raspberry Pi Weather Station Website.</h3>

                <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>

                <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>

                <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail oder über Web-Formulare) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>

                <p>Verantwortlicher gem. BDSG/TMG bzw. Art. 4 Abs. 7 EU-Datenschutz-Grundverordnung (DS-GVO) ist Matthew Setter, Gerhart-Hauptmann-Strasse 11, 90530 Wendelstein, Germany (siehe unser Impressum). </p>

                <h3>Ihre Rechte</h3>

                <p>Ab 29. Dez. 2020 haben Sie folgende Rechte:</p>

                <p>Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:</p>

                <ul>
                    <li>Recht auf Auskunft</li>
                    <li>Recht auf Berichtigung oder Löschung</li>
                    <li>Recht auf Einschränkung der Verarbeitung</li>
                    <li>Recht auf Widerspruch gegen die Verarbeitung</li>
                    <li>Recht auf Datenübertragbarkeit</li>
                </ul>

                <p>Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen Daten durch uns zu beschweren.</p>

                <p>Bis 25. Mai 2018 haben Sie folgende Rechte: Sie haben das Recht, von uns jederzeit Auskunft zu verlangen über die zu Ihnen bei uns gespeicherten Daten, sowie zu deren Herkunft, Empfängern oder Kategorien von Empfängern, an die diese Daten weitergegeben werden und den Zweck der Speicherung. Wenn Sie eine Einwilligung zur Nutzung von Daten erteilt haben, können Sie diese jederzeit widerrufen.</p>

                <h3>Erhebung personenbezogener Daten beim Besuch unserer Website</h3>

                <p>Diese Website nutzt transiente Cookies, deren Umfang und Funktionsweise im Folgenden erläutert werden: Transiente Cookies werden automatisiert gelöscht, wenn Sie den Browser schließen. Dazu zählen insbesondere die Session-Cookies.</p>

                <p>Diese speichern eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie auf unsere Website zurückkehren. Die Session-Cookies werden gelöscht, wenn Sie sich ausloggen oder den Browser schließen.</p>

                <p>Weitere Daten werden nicht erhoben. Diese Daten verwenden wir ausschließlich für den Versand der angeforderten Informationen und geben sie nicht an Dritte weiter.</p>
            </div>
        </div>
    </div>
{% endblock %}