{% extends "default.html.twig" %}

{% block title %}Impressum - {% endblock %}
{% block mainheader %} - Impressum{% endblock %}
{% block content %}
    <div class="mt-8 grid grid-cols-1 gap-x-4 xl:gap-x-8 mb-8 text-slate-700 text-base">
        <p>Matthew Setter Gerhart-Hauptmann-Straße 11, 90530 Wendelstein, Germany</p>
        <p>Tel.: +49 (0) 176 4397 1069 / E-Mail: matthew[at]matthewsetter.com</p>

        <h2>Editor:</h2>
        <p>Matthew Setter</p>

        <h2>USt-ID:</h2>
        <p>DE 286 856 351</p>

        <h2>Haftungshinweis:</h2>
        <p>Alle Rechte dieses Internet-Auftritts bleiben vorbehalten. Unauthorisiertes Kopieren und Verwenden von Inhalten, Fotos und Abbildungen dieses Angebots ist verboten. Die Inhalte der Website sind ausschließlich für informative Zwecke zu nutzen. Das Kopieren, Vervielfältigen oder Verändern der Website ist nicht gestattet.</p>
    </div>
{% endblock %}
